body {
  text-align: center;
}
.header {
  font-weight: bolder;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  background-color: hsl(210, 31%, 80%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container{
background-color: hsl(210, 31%, 80%);
width: 800px;
box-shadow:  0 5px 15px rgba(0, 0, 0, 0.4); 
border-radius: 7px;
padding: 10px 20px;
}
.map {
  position: relative;
}

.ipInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
  font-weight: bold;
}

.CountryFlag {
  border: 3px solid hsl(210, 36%, 96%);
  background-color: whitesmoke;
  box-shadow:0 5px 15px rgba(0, 0, 0, 0.1);
}